### .dev.vars ###

### SMTP_SERVER in Brevo
SMTP_HOST=

SMTP_PORT=
### SMTP_LOGIN in Brevo
SMTP_USER=

### SMTP key value in Brevo
SMTP_PASSWORD=

SMTP_SENDER_ADDRESS=

### Can be anything
SMTP_SENDER_NAME=

APP_BUNDLE_ID=
TEAM_ID=

JWT_SECRET=